body {
    margin: 0;
    background: black;
    display: flex;
    justify-content: center;
}

#content-container {
    
}

#game-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

button {
    background: black;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    min-width: 70px;
}